@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
    --main-color: #fff;
    --sec-color: #ebeaea;
    --thd-color: #cacaca;
}
html, body{
    height: 100%;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 210px;
    margin-bottom: 15px;
}
.box{
    width: 30rem;
    height: auto;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 20px;
}
.box h1{
    padding: 10px;
    text-align: center;
}
#username, #password, #email{
    width: 27rem;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 0.3rem;
    border: 1px solid var(--thd-color);
}
label{
    text-align: left;
    width: 95%;
    margin: 0 5px;
    padding-left: 0 5px;
}
.dft-btn{
    width: 10rem;
    padding: 0.4rem;
    border: 1px solid var(--thd-color);
    border-radius: 0.3rem;
    margin: 2rem;
    margin-bottom: 5.4rem;
    background-color: var(--sec-color);
}
.dft-btn:hover{
    cursor: pointer;
    background-color: var(--thd-color); 
    transition: 0.2s all linear;
}
.footer{
    text-align: center;
    width: 100%;
    padding: 20px;
}
.alert{
    font-size: 13px;
    color: #ff0000;
}
@media (max-width: 555px){
    .box{
        width: 20rem;
    }
    #username, #password, #email{
        width: 100%;
    }
    .footer{
        font-size: 0.5rem;
    }
}